:root {
    --large-margin: 5rem;
    --small-margin: 1rem;
    --main-color: #ebf2fc;
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
body {
    line-height: 1.5;
    height: 100vh;
    background-color: #11284c;
    color: var(--main-color);

    display: flex;
    flex-direction: row;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

/* LEFT NAV BAT STYLE SETTINGS */
nav {
    min-width: 300px;
    max-width: 18%;
}
nav > div:first-child {
    display: flex;
    justify-content: space-between;

    margin: 3rem var(--small-margin) var(--large-margin) var(--small-margin);
}
h1 {
    font-size: clamp(3.5rem, 3vw, 4rem);
}
nav div:first-child img {
    cursor: pointer;
    width: 40px;

    transform: translate(0px, -5x);
    /* display: none; */
}

ul {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--small-margin);
}
ul li {
    list-style: none;

    font-size: clamp(2rem, 2vw, 2rem);
    border-radius: var(--small-margin);
    padding-left: var(--small-margin);
    width: 95%;
    overflow: hidden;

    background-color: #264472;

    display: flex;
    justify-content: space-between;
}
.each-project-div {
    justify-content: space-between;
    cursor: pointer;
}
.delete-project {
    margin-right: var(--small-margin);
    cursor: pointer;
    color: var(--main-color);
}
.delete-project:hover {
    color: rgb(113, 53, 53);
}

/* MAIN SECTION OF PROJECT */
main {
    background-color: var(--main-color);
    color: black;

    margin: 3vw 3vw 0 1vw;
    flex: 5;
    height: 98vh;
    align-self: flex-end;
    border-radius: var(--small-margin) var(--small-margin) 0 0;
}
main > header {
    font-size: clamp(1.3rem, 1.5vw, 1.8rem);

    display: flex;
    gap: 1rem;
    padding: 3rem 0 1rem 2rem;

    border-bottom: 1px solid rgba(128, 128, 128, 0.45);
    width: 95%;
    margin: auto;
}
header > p {
    color: gray;
}
.button-div {
    display: flex;
    justify-content: flex-end;
}
.task-button {
    background-color: #264472;
    color: var(--main-color);

    border: none;
    border-radius: 5px;

    margin: var(--small-margin) var(--small-margin) 0 0;
    padding: 5px 1.5rem;

    cursor: pointer;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

/* DIALOG TO ADD PROJECT */
dialog {
    margin: auto;
    border-radius: 15px;
    min-width: 350px;
    min-height: 150px;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.522);
}
form {
    display: flex;
    flex-direction: column;
    text-align: center;

    font-size: 2rem;
}
